header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
div.reviews {

    section {
        grid-template-columns: 200px auto;
        column-gap: 8px;
        
        img {
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }
    }//end of section
}
div.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
}