#headerWrapper {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    font-size: 2.5rem;
    color: #2e90e1;
}

#navWrapper {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #333;
}