$primaryColor: #2e90e1;
$secondaryColor: #45affd;
$tertiaryColor: #76c1ff;
$fontColor: #0f2f76;
$greyColor: #707070;

$defaultFont: "Spline Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;
$gutter: 10px;